SERVER_PORT=8080
SPRING_DATASOURCE_URL=jdbc:mariadb://localhost:3306/library?createDatabaseIfNotExist=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=
APP_CORS_ALLOWED_ORIGIN=http://localhost:4200
